fastapi==0.115.2
uvicorn[standard]==0.24.0
python-multipart==0.0.18
python-dotenv==1.0.0
groq==0.30.0
sentence-transformers==2.7.0
PyPDF2==3.0.1
python-docx==1.1.0
numpy==1.26.4
pydantic==2.7.4
huggingface_hub==0.30.0
asyncpg==0.29.0
supabase==2.8.1
httpx[http2]==0.27.2
gotrue==2.9.0
pydantic-settings==2.8.1
smolagents==1.15.0
setuptools==69.0.0
gradio==5.29.0